.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

html {
  background: #eee;
}

body {
  padding: 0; margin: 0;
}

#canvLegend {
  float: left; width:366px; height:210px; background:#fff;
  margin-right: 2px;
}

#canvDet {
  float: left; width:730px; height:210px; background:#fff;
}



